.info{
  background-color: rgba(236, 236, 236, 0.199);
  height: 400px;
  padding: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(2px);
}

.temperature{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.temperature span{
  color: var(--bg-dark-color);
}

.temperature span:first-child{
  font-size: 75px;
}

.temperature span:last-child{
  font-weight: 500;
  font-size: 24px;
  width: 100%;  
  color: var(--button-color);
}

.temperature img{
  width: 100px;
}

.info > p{
  color: var(--ft-title-color);
  font-family: 'Share Tech Mono', monospace;
  font-size: 23px;
  line-height: 30px;
}

.info div:last-child p{
  color: var(--sub-title-icons);
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.info div:last-child span{
  color: var(--ft-text-color);
  font-weight: 400;
}

@media (max-width: 768px) {
  .info{
    margin-top: 250px;
    width: 400px;
    backdrop-filter: blur(1.2px);
  }
}