@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
  --bg-dark-color: #171C2D;
  --ft-title-color: #F9982F; 
  --ft-text-color: #FFF;
  --button-color: #1B956F;
  --hover-color: #1b956e36;
  --sub-title-icons: #EAB56F;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--bg-dark-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
